/* html {
    margin: 0px;
    padding: 0px;

} */

body {
    /* 原本的body元素帶有原始的margin 8px 這裡把它設為0 不然不會滿版  */
    margin: 0px;

}

h1,
h2,
h3,
h4,
h5 {
    margin: 0px;
}


header .Container {
    /* 設定Container的高度 背景顏色 */
    /* height: auto; */
    background-color: rgb(240, 167, 33);
}

header .row {
    /* 文字置中 */
    text-align: center;

}

header .Container h1 {
    /* h1的標題上下空間太大導致會有空白空間 */
    /*padding控制內部距離大小  不能用margin 否則會超出父div*/
    margin : 0px;
    padding: 30px;
}

header .Container h2 {
    padding: 20px;
}


header .navigation {
    /* text-align: center; */
    /* 內部距離0  外部距離 */
    margin          : 0px;
    padding         : 1px 0px;
    background-color: rgb(255, 183, 88);


}

header .navigation li {
    /* 風格 none , display: inline 讓文字在同一行呈現 , 外部距離10px */
    list-style: none;
    display   : inline;
    margin    : 0px 20px;

}

header .navigation a {
    font-size      : 22px;
    text-decoration: none;
    color          : rgb(255, 255, 255);
}

header .navigation a:hover {
    /* 當滑鼠經過時變色 */
    color: rgb(255, 157, 0);
}


/* 以上導航欄以上 */


#Second .container {
    background-color: rgb(255, 213, 166);
    
}

#Second p {
    /* 外部距離0 內部距離 上下20 左右0  字體大小18 置中 */

    margin    : 0px;
    padding   : 20px 0px;
    font-size : 18px;
    text-align: center;

}

#Second .row2 {
    text-align: center;
    padding   : 20px 0px;

}



/* 以上歌詞 */














footer {
    background-color: coral;
}

footer .container {
    padding: 20px 0px;
}


footer .container p {
    margin    : 0px;
    padding   : 0px;
    text-align: center;
    font-size : 10px;



}

/* 以上頁尾 */