img {
    max-height: 600px;
}

div {
    margin    : 20px 0px;
    text-align: center;
    font-size : 30px;
}

.inputclass {
    margin    : 0px;
    text-align: left;
    font-size : medium;
}


.testRed {
    color: red;
}

.testBlue {
    color: blue;
}