h1 {
    font-weight: bold;
    font-size  : 4em;
}

body {

    background-color: rgb(0, 0, 0);

}

header {
    position: relative;

}

.container {
    height: 100vh;
}

#gitIcon {
    z-index : -1;
    display : flex;
    position: absolute;
    left    : 0;
    top     : 0;
    width   : 100vw;
    height  : 100vh;

}

#gitIcon .gitCat {
    position: fixed;
    left    : calc(50% - (50vw - 50vh - 5%));
    top     : calc(50% - (50vw - 50vh - 10%));
    width   : calc(100vw - 100vh - 10%);


    opacity: 0;
}

@keyframes gitCatOpacity {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        opacity: 0.1
    }

}

.buttonBox {
    overflow: hidden;

    height       : 156px;
    color        : #fff;
    border-top   : none;
    border-bottom: none;
    border-left  : 10px solid rgb(255, 255, 255);
    border-right : 10px solid rgb(255, 255, 255);

    box-shadow: inset 0px 0px 0px 0px rgb(255, 255, 255);

    background-color: rgba(255, 255, 255, 0);

    opacity: 0;

    transition: box-shadow 0.3s 0s ease-in-out, color 0.3s 0s ease-in-out;

}

.buttonBox:hover {
    color     : rgb(28, 41, 83);
    box-shadow: inset 389px 0px 0px 0px rgb(71, 206, 127);
    z-index: 2;
}

.buttonBox div {
    min-width : 389px;
    /* height : 100%; */
}

.buttonBox>h2,
.buttonBox>h3 {
    z-index: -99;
}
    .buttonBox>h2:hover,
.buttonBox>h3:hover {
    box-shadow: none;
}

.buttonBox img {

    width : 100px;
    height: 87px;
}

@keyframes buttonBoxOpacity {
    0% {
        opacity: 0;
        width  : 0px;
    }

    25% {
        opacity: 1;
        width  : 0px;
    }

    100% {
        opacity: 1;
        width  : 389px
    }

}

.nullBox {
    opacity   : 0;
    background: none;
    border    : none;
    box-shadow: none;
}

.nullBox:hover {
    background: none;
    border    : none;
    box-shadow: none;
}