/* ****************************************************************
                            全部套用
 **************************************************************** */
* {
    /* 字體 */
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-family: "Noto Sans TC", sans-serif;
}

body {
    padding-top: 61px;
}


section {
    padding-top   : 10vw;
    padding-bottom: 10vw;

    background         : url(../images/下三角.png), url(../images/上三角.png);
    background-position: top center, bottom center;
    background-size    : 100%, 100%;
    background-repeat  : no-repeat, no-repeat;
}

section h2 {
    box-shadow: 0px 8px 5px -5px #d3d3d3;
}

/* ****************************************************************
                                內容開始
 **************************************************************** */


nav {
    /* box-shadow: inset 0px -7px 0px 0px rgb(255, 196, 0); */
    position: fixed !important;

    top : 0px;
    left: 0px;

    width: 100%;

    box-shadow: inset 0px -7px 0px 0px rgb(26, 199, 147);
    font-size : 1em;

    z-index: 999;
}

nav img {
    height: 30px;

}

nav li {
    position: relative;

}

nav li:not(:first-child)::before {
    content : ",";
    position: absolute;
    left    : -0.8em;
    bottom  : 10px;
}

.NavbarNav {
    width: 100%;
}


/* ****************************************************************
                                頂部
 **************************************************************** */


header {
    position           : relative;
    background         : url(../images/上三角.png), url(../images/header.png);
    background-position: bottom center, top center;
    background-repeat  : no-repeat, no-repeat;
    background-size    : 100%, cover;



    width : 100vw;
    height: calc(100vh - 56px);
}

header>div {
    height: 100%;
}

header>div>div {
    height: 100%;
}

header>div>div h1 {
    text-align: center;
    font-size : 2.5rem;
    min-width : 9em;
}

header>div>div h1 samp {
    color     : rgb(0, 255, 149);
    box-shadow: inset 0px -2px 0px 0px rgb(255, 255, 255);

}

header>div>div h2 {
    margin    : auto;
    text-align: center;
    font-size : 1.5rem;
    min-width : 11em;
}

header .avatar {
    max-width: 40vh;
}

/* header .bannerMark {
    position: absolute;
    width   : 100vw;
    height  : 100vh;

    background: #000;
    z-index   : ;

} */



/* ****************************************************************
                        #technology 技術
 **************************************************************** */


#technology .card {
    min-height: 376px;
}

#technology .imgBox {
    width : 100%;
    height: 150px;
}

#technology img {
    height: 100%;

    max-width: 286px;
}

#technology .card-body {
    display        : flex;
    justify-content: start;
    flex-direction : column;

    min-height: 160px;

}

@keyframes titleWidth {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }

}

/* ****************************************************************
                            自傳
 **************************************************************** */
#autobiography .textBox {
    min-height: 494px;
}

#autobiography h3 {
    box-shadow: inset 0px -8px 0px 0px rgb(211, 211, 211)
}

#autobiography .autobiographicalText {
    text-indent: 2em;
    text-align : justify;

}

#autobiography img {
    /* width: 300px; */
    width : 100%;
    height: auto;
}

#autobiography .photoDescription {}

/* ****************************************************************
                            小元件
 **************************************************************** */
#pushButton {
    position: fixed;
    right   : 30px;
    bottom  : -80px;
}

#pushButton img {

    width : 65px;
    height: 65px;
}

#pushButton a {
    position           : absolute;
    /* background-color: #ff0000; */
    left               : 0;

    width : 100%;
    height: 100%;

    z-index: 999;
}

@keyframes pushButtonIn {
    0% {
        bottom: -80px;
    }



    100% {
        bottom: 45px;
    }
}

@keyframes pushButtonOut {
    0% {
        bottom: 45px;
    }



    100% {
        bottom: -80px;
    }
}





@media (min-width: 768px) {
    nav {
        font-size: 1.2em;
    }

    nav img {
        height: 45px;

    }

    header>div>div h1 {
        text-align: start;
        font-size : 2.5rem;
    }

    header>div>div h2 {
        text-align: start;
        font-size : 1.5rem;
    }

    header img {
        max-width: 50vh;
    }



}

@media (min-width: 1024px) {
    header>div>div h1 {
        text-align: start;
        font-size : 4rem;
    }

    header>div>div h2 {
        text-align: start;
        font-size : 2.5rem;
    }


}

@media (min-width: 1440px) {
    header>div>div h1 {
        text-align: start;
        font-size : 5rem;
    }

    header>div>div h2 {
        text-align: start;
        font-size : 4rem;
    }
}