<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/styel.css">
    <!-- ajax -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script defer src="script/vue.js"></script>
    <script defer src="script/index.js"></script>
</head>

<body style="background-color: dimgrey;">
    <div id="app">
        <!-- 選單 -->
        <div style="text-align: start; margin: auto auto;">
            <button @click="vueDomShow = 1"> 1 </button>
            <button @click="vueDomShow = 2"> 2 </button>
            <button @click="vueDomShow = 3"> 3 </button>
            <button @click="vueDomShow = 4"> 4 </button>
            <button @click="vueDomShow = 5"> 5 </button>
            <button @click="vueDomShow = 6"> 6 </button>

        </div>

        <!-- 1號頁面操作區 -->
        <template v-if="vueDomShow === 1 ">
            <!-- 輸入表單區 -->
            <div class="inputclass">
                <select v-model="isTrueOrFalse">
                    <!-- 用watch監控值 -->
                    <option value="" selected>--請選擇--</option>
                    <option value="true">true</option>
                    <option value="false">false</option>
                </select>
                <!-- input輸入和點擊監聽事件 -->
                <input v-on:keydown.enter="appbtn" v-model="vueInput" type='type' name="username">
                <input v-on:click="appbtn" type="button" value="送出">
                <input v-on:input="vueColorF" v-model="vueColorData" type="color">
                <input @click="testBtn" type="button" value="測試用按鈕">
                <div @click="testBtn">3425324534534</div>
            </div>

            <!-- 操作class 套用css變色 -->
            <span v-bind:class="color">{{ message }}</span>
            <span v-bind:class="color">{{ a }}</span>

            <!-- v-html使用此模版寫法傳進來的字串會以html元素格式呈現 -->
            <div v-html="divdom"></div>

            <!-- 反轉字串 -->

            <button @click="reversedMessage = 0.5"> *0.5 </button>
            <span>{{ reversedMessage }}</span>

            <!-- if測試 -->
            <div v-if="seeIf === '' " v-bind:class="color">測試 if 區域是否被看到</div>
            <div v-else-if='seeIf === true'> if為true </div>
            <div v-else-if='seeIf === false'> if為false </div>

            <!-- for1 陣列for測試  :  for2物件for測試 -->
            <div>
                <ul>
                    <li v-for="vueForItem1,index in vueForItems1" v-bind:key="index">
                        {{index}}:{{vueForItem1.forMessage}}
                    </li>
                </ul>
                <ul>
                    <li v-for="vueForItem2, key in vueForItems2" v-bind:key="key">
                        {{ key }} : {{vueForItem2}}
                    </li>
                </ul>
            </div>

            <!-- 色彩動態渲染測試 -->
            <div v-bind:style="vueBgColor"
                style="margin: auto; width: 13em; height: 50px; color: white; border: black 1px solid; ">
                測試背景色彩跟著表單變色
            </div>


        </template>

        <template v-else-if="vueDomShow === 2">
            <!-- 2號頁面 -->
            <div>此頁為測試node.js撈資料</div>
            <div>
                <input v-model="getSetData2" type="radio" name="contact" value="local">local</input>
                <input v-model="getSetData2" type="radio" name="contact" value="heroku">heroku</input>
            </div>


            <div v-html='formAjaxGet'></div>
            <div>
                <button @click="nodeJsGet">英文測試按鈕</button>
            </div>
            <div>
                <button @click="nodeJsGet('lang=zh')">中文測試按鈕按鈕</button>
            </div>


        </template>

        <template v-else-if="vueDomShow === 3">
            <div>此頁為登入頁面</div>
            <div>
                <input v-model="getSetData3" type="radio" name="contact3" value="local">local</input>
                <input v-model="getSetData3" type="radio" name="contact3" value="heroku">heroku</input>
            </div>
            <div v-html="loginPage"></div>

            <button v-show="loginButton" @click="loginButton = false; loginShow = true; loginPage = '' ">返回登入頁面</button>

            <div v-show="loginShow">
                <form method="POST" action="/" @submit.prevent="formSubmit">
                    <div>
                        <label for="username">帳號</label>
                        <input type="text" name="username" id="username">
                    </div>
                    <div>
                        <label for="password">密碼</label>
                        <input type="password" name="password" id="password">
                    </div>
                    <input type="submit" value="提交" name="sub">
                    <!-- <button >提交</button> -->
                </form>
            </div>
        </template>
        <template v-else-if="vueDomShow === 4">
            <div>此頁為取得遠端sql資料庫資料</div>

            <button @click="getSqlData">取得員工名單</button>

            <div v-html="sqldata"></div>



        </template>
        <template v-else-if="vueDomShow === 5">
            <div>vue組件</div>
            <div>{{message}}</div>

            <ol>
                <li is="button-first"></li>
            </ol>
            <button-first @click-plus="vueEmitTest"></button-first>

            <custom-input :title="'title'" v-model="message"></custom-input>

            <!-- <button-counter v-for="counter in counters" :title="counter.title" :plus-btn-name="counter.plusBtnName"
                :minus-btn-name="counter.minusBtnName">
            </button-counter> -->

            <!-- <photo-counter class="tests" plus-btn-name="sdd" v-for="forPhoto in forPhotos" :srcshow="forPhoto.imgName"></photo-counter> -->

            <!-- componentsCount 代表父組件中 data 裡面的屬性 $event 代表傳入的參數 -->
            <base-checkbox v-model="basecheck" label="按我"></base-checkbox>
            <div>{{basecheck}}</div>

            <base-input @focus="onFocus"></base-input>

            <base-input-with-label @focus="onFocus" v-model="message" label="123"></base-input-with-label>


        </template>
        <template v-else-if="vueDomShow === 6">
            <div>組件2 插槽 slot</div>

            <base-layout title="插槽的title">
                <header slot="header">我是header</header>
                <main slot="main">我是main</main>
                <footer slot="footer">我是footer</footer>
                <!-- 讓父組件插槽可以處理子組件的屬性 -->
                <template slot-scope="child">
                    <div>{{child.soltelement="直接操控子組件屬性"}}</div>
                </template>
            </base-layout>



        </template>

    </div>



</body>

</html>