* {
    /* 字體 */
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-family: "Noto Sans TC", sans-serif;
}

[v-cloak] {
    display: none;
}

/****************************************************************
                        vue過度動畫
****************************************************************/
/* 刪除文章 */
.v-enter-from,
.v-leave-to {
    opacity: 0;
}

.v-enter-active,
.v-leave-active {
    transition: opacity 0.5s;
}

.v-enter-to,
.v-leave-from {
    opacity: 1;
}

/* 添加代辦事項進入 */

.article-form-enter-from,
.article-form-leave-to {

    transform: translateY(100vh);
    opacity  : 0;
}

.article-form-enter-active,
.article-form-leave-active {
    transition: 1s ease;
}

.article-form-enter-to,
.article-form-leave-from {

    transform: translateY(0px);
    opacity  : 1;
}



/****************************************************************
                            內容開始
****************************************************************/

body {
    position   : relative;
    padding-top: 64px;
    background : #0C4553;
}

nav {
    position: fixed;
    left    : 0px;
    top     : 0px;

    padding-top   : 0.5rem;
    padding-bottom: 0.5rem;

    width : 100%;
    height: 64px;

    background: #126376;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    z-index: 2;
}

nav img {
    width : 3em;
    height: 3em;
}

nav a {
    font-style     : normal;
    font-weight    : normal;
    font-size      : 36px;
    line-height    : 42px;
    text-decoration: none;

    color: #FFFFFF;
}

nav a:hover {
    color: #FFFFFF;
}

/****************************************************************
                            通用區
****************************************************************/
.topNavFunctionBox {
    position: fixed;
    top     : 0;
    left    : 0;

    padding-top: 64px;

    width : 100%;
    height: 100%;

    background-color: #0C4553;
    z-index         : 2;
}

.topNavFunctionBox nav {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 55px;

    background: #126376;
}

.topNavFunctionBox nav button {
    background: none;
    border    : none;
}

.topNavFunctionBox nav button:active {
    background   : #00d0ff8c;
    border-radius: 30px;
}

.topNavFunctionBox nav h2 {
    font-size: 33px;
}

.topNavFunctionBox nav img {
    width : 100%;
    height: 100%;
}


/* 讀取 */
#loadingImg {
    position  : fixed;
    top       : 0;
    right     : 0;
    width     : 100vw;
    height    : 100vh;
    background: rgba(0, 0, 0, 0.5);

    z-index: 2;
}

#loadingImg .loadingNote {
    position : absolute;
    top      : calc(50% - 50px);
    right    : calc(50% - 50px);
    width    : 100px;
    height   : 100px;
    animation: loading 0.65s ease-in-out infinite;
}

#loadingImg p {
    position: absolute;
    top     : calc(50% + 55px);
    right   : calc(50% - 80.24px);

    font-size  : 28px;
    font-weight: 900;
}


@keyframes loading {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* 遮罩 */
.mask {
    position: fixed;
    right   : 0;
    top     : 0;

    width     : 100%;
    height    : 100%;
    background: rgba(0, 0, 0, 0.5);

    z-index: 2;
}


/**************************************************************** 
                            按鈕區
*****************************************************************/

.buttonMenu {
    position: fixed;
    width   : 100%;
    height  : 61px;
    left    : 0px;
    bottom  : 0px;

    background: #1BAACB;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);

    z-index: 2;
}




.buttonMenu .radioBox {
    position  : absolute;
    visibility: hidden;
    opacity   : 0;

}

.buttonMenu label {
    width            : 100%;
    height           : 100%;
    /* vertical-align: bottom; */
    line-height      : 60px;
}


.buttonMenu button {
    position: relative;
    padding : 0px;

    border       : 0px;
    font-size    : 1.2rem;
    font-weight  : bold;
    /* background: #1BAACB;
    color        : #FFFFFF; */
    transition   : 0.4s;
}

.buttonMenu button:active {
    color     : #65e3ff;
    background: #0C4553;
}

.menuUnclick {
    background: #1BAACB;
    color     : #FFFFFF;
}

.menuClick {
    color     : #15778f;
    background: #65e3ff;
}

.buttonMenu button:not(:first-child):before {
    content    : "";
    position   : absolute;
    left       : 0;
    top        : 15%;
    width      : 1px;
    height     : 75%;
    border-left: solid 2px #ffffff;
}

.articlePlus {
    position: fixed;

    padding: 0px;

    right : 25px;
    bottom: 80px;

    background: #00CFFF;
    border    : none;

    border-radius: 100%;
    box-shadow   : inset 0px 0px 0px rgb(255, 255, 255);
    transition   : 0.2s;
}

.articlePlus img {
    width : calc(100% - 25px);
    height: calc(100% - 25px);
}

.articlePlus:hover {
    box-shadow: inset 0px 0px 20px #ffffff;
}

.articlePlus:active {
    box-shadow: inset 0px 0px 5px rgb(0, 0, 0);
}

/****************************************************************
                        代辦事項按鈕
****************************************************************/

#listContent {
    position : relative;
    max-width: 500px;
    height   : auto;

    z-index: 0;
}

#listContent .articleTemp {
    /* 只有文章要往下、往上推 */
    padding-top   : 25px;
    padding-bottom: 90px;
}

#listContent .article {

    position: relative;

    padding-top: 35px;

    width : 297px;
    height: 250px;

    background   : #0084A3;
    box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
}

#listContent .article h3 {
    max-width    : 200px;
    color        : #fff;
    /*多餘的空白被合併成1個空白*/
    white-space  : nowrap;
    overflow     : hidden;
    /*設定超過顯示區就用 ...替換文字*/
    text-overflow: ellipsis;

}

#listContent .article p {
    display      : block;
    max-width    : 265px;
    max-height   : 96px;
    color        : #fff;
    /* background: #838383; */

    line-height: 1.5em;
    text-indent: 2em;
    text-align : justify;
    /* 強迫換行 */
    word-break : break-all;

    overflow     : hidden;
    text-overflow: ellipsis;

}

#listContent .article .listState {

    position   : relative;
    width      : 68px;
    height     : 43px;
    /* left    : calc(50% - 34px); */
    /* bottom  : 13px; */

    background   : #0084A3;
    border       : 1px solid #00CFFF;
    box-sizing   : border-box;
    border-radius: 30px;
}

#listContent .listState img {
    position: absolute;
    left    : calc(50% - 15px);
    top     : calc(50% - 15px);

    width : 30px;
    height: 30px;
}

/* 日期 */
#listContent #add {
    color      : #00FFF0;
    font-size  : 18px;
    font-weight: bold;
}

#listContent #end {
    color      : #00FFF0;
    font-size  : 18px;
    font-weight: bold;
}

/****************************************************************
                            行事曆
****************************************************************/
#listContent .calendarTemp {
    position: relative;
    width   : 100vw;
    height  : calc(100vh - 64px - 61px);
}

#listContent .calendar {
    width : 100%;
    height: 100%;

    background: rgb(19, 178, 241);
    /* border : solid 1px rgb(255, 0, 0); */
}

#listContent .calendar li {
    list-style: none;
    width     : 14.28%;
}

#listContent .weekdays ul {
    position: relative;
}


#listContent .weekdays ul::before {
    content : "";
    position: absolute;
    left    : calc(50% - 47.5%);
    top     : 3rem;
    width   : 95%;

    border-bottom: solid 3px rgb(255, 255, 255);
    border-radius: 10%;
}

#listContent .calendarContent {
    display      : flex;
    flex-wrap    : wrap;
    align-content: flex-start;


    width    : 100%;
    height   : 85%;
    /* border: solid 1px rgb(255, 0, 0); */
}

#listContent .calendarContent li {
    /* width   : 14.28%; */
    height: 18%;
}



#listContent .calendarContent .dayBox {
    position: relative;
    width   : 2.5rem;
    height  : 2.5rem;

    color     : #fff;
    background: rgba(51, 255, 0, 0);

    font-size    : 1.5em;
    /* border    : solid 3px rgba(167, 255, 255, 0.561); */
    border       : solid 3px rgba(167, 255, 255, 0);
    box-sizing   : border-box;
    border-radius: 30px;

    transition: 0.1s;
}

#listContent .calendarContent .oldDays {
    color: rgba(255, 255, 255, 0.5);
}

#listContent .calendarContent .dayBox:focus {
    background   : rgb(38, 215, 255);
    border-radius: 30px;
}

#listContent .calendarContent .dayBoxNumber {
    position: absolute;
    top     : calc(50% - 1.25rem);
    right   : calc(50% - 1.25rem);

    width        : 2.5rem;
    /* height    : 2.5rem; */

    border-radius: 30px;

    font-weight: bold;
    text-align : center;
}



/* 行事曆功能 */
#listContent .calendarFunction {
    background: rgb(23, 117, 241);
    width     : 100%;
    height    : 15%;

    border-radius: 30px 30px 0 0;
}

#listContent .calendarFunction label {
    width: 8rem;

    font-size  : 1.5rem;
    font-weight: bold;

    color: #fff;
}

#listContent .calendarFunction input {
    width      : 8em;
    font-size  : 24px;
    font-weight: bold;
}



/* 設定按鈕 */
.itemList {
    position: absolute;
    right   : 0px;
    top     : 0px;
    width   : 0px;
    height  : 0px;
}

.itemList .setButton {
    position: absolute;
    width   : 49px;
    height  : 49px;

    right: 22px;
    top  : 22px;

    border       : none;
    border-radius: 30px;
    background   : rgba(196, 196, 196, 0.37);

    transition: 0.1s;

}

.itemList .setButton:active {
    background: rgba(255, 255, 255, 0.37);
}

.itemList .setButton::before {
    content : "";
    position: absolute;
    left    : calc(50% - 3.5px);
    top     : calc(50% - 3.5px);

    width        : 7px;
    height       : 7px;
    border-radius: 30px;
    background   : rgba(255, 255, 255, 0.7);

    box-shadow: 0px 12px 0px 0px rgba(255, 255, 255, 0.7),
        0px -12px 0px 0px rgba(255, 255, 255, 0.7);

}


.itemList ul {
    overflow: hidden;
    position: absolute;

    top  : 45px;
    right: 65px;

    width: 120px;

    background: #0084A3;

    border-radius: 15px;
    box-sizing   : border-box;
    box-shadow   : inset 0px 0px 0px 2px #00FFF0;

    list-style: none;
    z-index   : 3;

    transition: 0.5s;

}


.itemList ul button {
    padding: 2px 0px;

    width: 100%;

    color        : #fff;
    background   : #0084A3;
    border       : 1px solid #00ffff;
    border-radius: 8px;
    box-sizing   : border-box;
    box-shadow   : 0px 0px 4px #ffffff;
}

.itemList ul button:active {
    background: #00CFFF;
}

/* .itemList ul li {
    box-shadow: none;

} */

.itemList li {
    min-height: 28px;
    margin    : 5px 0px;
}

.openItem {
    height : 170px;
    opacity: 1;
    z-index: 3;
}

.closeItem {
    height    : 0px;
    visibility: hidden;
    opacity   : 0;
    z-index   : 0;
}


/****************************************************************
                        文章撰寫區
****************************************************************/
#postArticle #articleForm {
    max-width: 30.1rem;
    height   : 100%;
}

#postArticle form .inputForm {
    font-size: 1.2em;

    padding: 0px 0.4rem;

    color: #FFFFFF;

    background   : #126376;
    border       : 1px solid #00FFF0;
    box-sizing   : border-box;
    box-shadow   : 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#postArticle form .inputForm::placeholder {
    color: rgb(206, 206, 206);
}

#postArticle form .inputTitle {
    /* margin-bottom: 1rem; */

    width : 100%;
    height: 35px;
}

#postArticle form .inputContent {
    padding-top: 0.2rem;
    width      : 100%;
    height     : 100%;
}

/****************************************************************
                        完整文章區
****************************************************************/

#fullArticle>section {
    padding-bottom: 50px;
    max-width     : 30.1rem;
    height        : 100%;
    border        : solid 6px rgba(255, 255, 255, 0.5);
    border-radius : 30px 0px 0px 30px;
    overflow-y    : scroll;

}

#fullArticle div {
    margin   : auto;
    max-width: 30.1rem;
}

#fullArticle h3 {
    max-width : 100%;
    word-break: break-all;
}

#fullArticle p {
    max-width  : 100%;
    line-height: 1.5em;
    text-indent: 2em;
    word-break : break-all;
}

#fullArticle .articleDate p {
    line-height: 0.5em;
    text-indent: 0em;
}



@media screen and (min-width: 1024px) {

    /****************************************************************
                            內容開始
****************************************************************/
    body {
        padding-top: 0px;
    }

    nav {
        width  : 30vw;
        height : 100%;
        z-index: 0;
    }

    nav>div {
        height: 30%;
    }

    nav img {
        width    : calc(30vw - 23vw);
        height   : auto;
        /* width : 4.5em;
        height   : 4.5em; */
    }

    nav a {
        /* font-size      : 48px; */
        font-size      : 4rem;
        line-height    : 42px;
        text-decoration: none;

        color: #FFFFFF;
    }

    /****************************************************************
                            通用區
****************************************************************/
    .mask {
        position: fixed;
        right   : 1px;
        top     : 0;

        width     : 70vw;
        height    : 100%;
        background: rgba(0, 0, 0, 0.5);

        z-index: 2;
    }


    /**************************************************************** 
                            按鈕區
*****************************************************************/
    .buttonMenu {
        width : 30vw;
        height: 292px;
        left  : 0px;
        top   : 40%;

        background: #1BAACB;
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);

        z-index: 0;
    }

    .buttonMenu label {
        width            : 100%;
        height           : 100%;
        /* vertical-align: bottom; */
        line-height      : 72px;
    }

    .buttonMenu button {
        width     : 100%;
        height    : 4.5rem;
        font-size : 2rem;
        text-align: start;
    }

    .menuClick {
        color        : #15778f;
        background   : #65e3ff;
        box-shadow   : inset -25px 0px 0px 0px #ffa948;
    }

    .menuUnclick {
        background: #1BAACB;
        color     : #FFFFFF;
        box-shadow: inset 0px 0px 0px 0px #4bccec00;
    }

    .buttonMenu button:not(:first-child)::before {
        display: none;
    }

    .buttonMenu label {
        border-bottom   : solid 2px #ffffff38;
    }

    /* !增加文章按鈕 */

    .articlePlus {
        width : 200px;
        height: 60px;
        left  : calc(15vw - 100px);
        bottom: 15px;

        background: #00CFFF;
        border    : none;

        border-radius: 30px;
        box-shadow   : inset 0px 0px 0px rgb(255, 255, 255);
        transition   : 0.1s;
    }

    .articlePlus img {
        width : 40px;
        height: 40px;
    }


    /****************************************************************
                        代辦事項按鈕
****************************************************************/
    #listContent {
        width    : 70vw;
        max-width: none;
        height   : auto;
    }

    #listContent .article {
        width : 65vw;
        height: 250px;
    }

    #listContent .article h3 {
        max-width: 80%;
    }

    #listContent .article p {
        max-width : 100%;
        max-height: 75px;
    }

    #listContent #add {
        width: 200px;
    }

    #listContent #add span:before {
        content: "設定日期 : ";
        width  : auto;
        height : auto;
        cursor : text;
    }

    #listContent #end {
        width: 200px;
    }

    #listContent #end span:before {
        content: "結束日期 : ";
        width  : auto;
        height : auto;
        cursor : text;
    }

    /* 設定按鈕 */
    .itemList .setButton {
        position  : absolute;
        width     : 98px;
        height    : 49px;
        transition: 0.1s;
    }

    .itemList .setButton::before {
        content: "SET";

        position: relative;
        left    : auto;
        top     : auto;

        color      : #fff;
        font-size  : 20px;
        font-weight: bold;
        background : rgba(255, 255, 255, 0);
        box-shadow : none;
    }

    /****************************************************************
                        完整文章區
****************************************************************/
    #fullArticle {
        margin-top: 0px;
        height    : 100vh;
    }

    /****************************************************************
                            雜項
****************************************************************/
    #loadingImg {
        width : 70vw;
        height: 100vh;
    }

    #loadingImg .loadingNote {
        top   : calc(50% - 62.5px);
        right : calc(50% - 62.5px);
        width : 125px;
        height: 125px;
    }

    #loadingImg p {
        top      : calc(50% + 4rem);
        right    : calc(50% - 7rem);
        font-size: 38px;
    }
}