:root {
    /* :root讓整個網頁都能用 */
    /* 設定變數 */
    /* --color-gold: #b96262; */
    --color-gold: #ff7300;

    /* 使用變數 var(--color-gold);  */
}

body {
    background-color: rgb(235, 229, 205)
}

header {
    background         : url(/images/beach.jpg);
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: top center;
    height             : 10vh;
}

#taiwanMap {
    padding: 20px;

    /* width : 30vw; */
    /* height: 80vh; */
    width : 100vw;
    height: auto;

    background-color: #7caeff;

    border: solid 1px #000000;
}

button:focus {
    background: rgb(255, 238, 0);
}

#content h3 {
    font-size  : 1.5em;
    font-weight: bold;
}

#taiwanMap {
    position: relative;
}

#weatherImg {
    padding-bottom: 6px;

    position: absolute;
    left    : 10px;
    top     : 15px;

    width : 6em;
    height: auto;

    border-bottom: solid 2px #ffffff;
}

svg {
    width : 100%;
    height: 100%;

}

path {
    stroke    : white;
    /* svg 要用stroke設定邊框 */
    fill      : #05e205;
    /* svg 要用fill設定填充顏色 */
    transition: 0.5s;
    cursor    : pointer;
}

/* path:hover {
    fill     : var(--color-gold);
    transform: translate(-5px, -5px);
} */

@media (min-width: 768px) {

    #taiwanMap {
        padding: 20px;

        width : 30vw;
        height: 80vh;

    }

}